In [1]:
name= int(input('Enter the number:'))
if name >0:
    print('Number is postive')
elif name <0:
    print('Number is negative')
else:
    print('Number is zero')

Enter the number: 45

Number is postive

In [14]:
choice = int(input('Enter the choice'))
if choice ==1:
    print('Ordered item is coffee')
    which_coffee = float(input('Which coffee ?'))
    if which_coffee == 1.1:
        print('Ordered coffee is Latte')
    elif which_coffee ==1.2:
        print('Ordered coffee is Capachino')
    else:
        print('Ordered coffee not available')
elif choice ==2:
    print('Ordered item is tea')
    which_tea = float(input('Which Tea ?'))
    if which_tea == 2.1:
        print('Ordered Tea is Normal Tea')
    elif which_tea ==2.2:
        print('Ordered Tea is Lemon Tea')
    else:
        print('Ordered Tea not available')
elif choice==3:
    print('Ordered item is juice')
    which_juice = float(input('Which Juice ?'))
    if which_juice == 3.1:
        print('Ordered Juice is Apple juice')
    elif which_juice ==3.2:
        print('Ordered Juice is Banana juice')
    else:
        print('Ordered Juice not available')
else:
    print('Invalid choice')

Enter the choice 3

Ordered item is juice

Which Juice ? 3.1

Ordered Juice is Apple juice

In [19]:
has_id= input('Do you have ID ? Yes/No:')
if has_id == 'Yes':
    print('Student has ID, check the attendence')
    attendance = int(input('What is your attendance percentage ?'))
    if attendance > 75:
        print('You are allowed to write exam')
    else:
        print('You are not allowed to write exam')
else:
    print('Student does not have ID.Student not allowed to enter the examination Hall')

Do you have ID ? Yes/No: No

Student does not have ID.Student not allowed to enter the examination Hall

In [22]:
age= int(input('What is your age'))
if age >18:
    print('Person is adult. Check if he/she has Driving License')
    Has_driving_license= input('Do you have Driving License ? Yes/No :')
    if Has_driving_license == 'Yes':
        print('Eligible to drive')
    else:
        print('Not eligible')
else:
    print('Not an adult')

What is your age 56

Person is adult. Check if he/she has Driving License

Do you have Driving License ? Yes/No : Yes

Eligible to drive

In [28]:
ordered_item=input('What do you want to order?')
if ordered_item == 'Mobile':
    print('Ordered item is Mobile.')
    is_available_in_stock=input('Is the item avilable in stock ? Yes/No')
    if is_available_in_stock == 'Yes':
        print('Ordered item in stock. Check if the payment is done or not')
        is_payment_done= input('Is payment done. Yes/No:')
        if is_payment_done == 'Yes':
            print('Payment done.order is placed')
        else:
            print('Payment not done. Order cannot be placed.')
    else:
        print('Item not in stock. Order cannot be taken')
else:
    print('Item to be Ordered not available')

What do you want to order? Mobile case

Ordered item not available

Data Structure

In [ ]:
#Data Structures#
#Structured way to store/organise and manage the data#
#Type of data structures : List/Tupple/Set/Dictionary#

#List#
   #List is defined using the Square bracket#
   #List: List can have multiple value#
   #List can have different data types#
   #List can also have duplicate values#
   #Every item in the list can be accessed using the index position#
   #Lits are Mutable, which means we can add items in the list and change it#    
   #append is the method of List Data structure#
   #append(): add a new item at the end of the list#
   #insert(): is another method to add a new item in a specific position#
   #extend(): used to add multiple items to ur list#
   #pop(): pop method is used to remove the value from the index position in list#
   #remove(): remove method is used to delete the item by its value. It will only remove the first occurred value from the list#
   #del(): delete is used to delete any item from the list#
   #clear()# clear is used to clear all the items from the list. Note: only items will be deleted. not the List
   #del <listname> : this is used to delete the list #
   #reverse(): reverse method is used to reverse the items in the List#

#Tuples#
  #Unline List, Tuples are defined using normal brackets ()#
  #Tupples are immutable#
  #Tuples have very less methods such as index(),del() and count()#

#Sets#
  #Sets are unordered#
  #Only unique values are allowed in Sets#
  #Sets are mutable,means we can change the values and can hold different data types #ste
  #Sets are defined using flower brackets set1= {1,2,3,4,5}#

In [33]:
list=['Abdul',1,2,'Shaikh']
print(list[0])

Abdul

In [34]:
#List
age= [21,23,25,67]
weight = [45,67.8,67,98]
items = ['Fruits','Vegetables','stationaries']
my_list= [1,3,4,3.1,'fruits','98.8']
print(age)

[21, 23, 25, 67]

In [35]:
print(items)

['Fruits', 'Vegetables', 'stationaries']

In [39]:
print(items[2])

stationaries

In [40]:
print(my_list[3])

3.1

In [41]:
print(my_list[-1])

98.8

In [43]:
print(my_list[1:4]) #This is slicing, where we can give the range to fetch the values #

[3, 4, 3.1]

In [44]:
print(my_list[1:4:2])#Slicing with 3 parameters, where the last parameter you can use to skip the values in between#

[3, 3.1]

In [48]:
my_list.append('Shaikh') #append is a method of list used to add a new element in the last position of list#

In [50]:
print(my_list)

[1, 3, 4, 3.1, 'fruits', '98.8', 'Abdul', 'Abdul', 'Shaikh']

In [52]:
my_list.insert(2,'Hameed') #insert is used to add new item in a specific position#
print(my_list)

[1, 3, 'Hameed', 4, 3.1, 'fruits', '98.8', 'Abdul', 'Abdul', 'Shaikh']

In [55]:
my_list.extend(['Mehwish','Fariha','Wife','Daughter'])
print(my_list)

[1, 3, 'Hameed', 4, 3.1, 'fruits', '98.8', 'Abdul', 'Abdul', 'Shaikh', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Mehwish', 'Fariha', 'Wife', 'Daughter']

In [56]:
print(my_list)

[1, 3, 'Hameed', 4, 3.1, 'fruits', '98.8', 'Abdul', 'Abdul', 'Shaikh', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Mehwish', 'Fariha', 'Wife', 'Daughter']

In [57]:
my_list.extend(['Mehwish','Fariha','Wife','Daughter'])
print(my_list)

[1, 3, 'Hameed', 4, 3.1, 'fruits', '98.8', 'Abdul', 'Abdul', 'Shaikh', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Mehwish', 'Fariha', 'Wife', 'Daughter']

In [58]:
my_list.extend(['Akhil'])

In [59]:
print(my_list)

[1, 3, 'Hameed', 4, 3.1, 'fruits', '98.8', 'Abdul', 'Abdul', 'Shaikh', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Akhil']

In [61]:
print(my_list)
my_list[2]='Shafiya'
print(my_list)

[1, 3, 'Hameed', 4, 3.1, 'fruits', '98.8', 'Abdul', 'Abdul', 'Shaikh', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Akhil']
[1, 3, 'Shafiya', 4, 3.1, 'fruits', '98.8', 'Abdul', 'Abdul', 'Shaikh', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Akhil']

In [62]:
my_list.pop(2)

'Shafiya'

print(my_list)

In [63]:
print(my_list)
my_list[3]='Gaziya'
print(my_list)

[1, 3, 4, 3.1, 'fruits', '98.8', 'Abdul', 'Abdul', 'Shaikh', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Akhil']
[1, 3, 4, 'Gaziya', 'fruits', '98.8', 'Abdul', 'Abdul', 'Shaikh', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Akhil']

In [65]:
print(my_list)
my_list.pop(3)
print(my_list)

[1, 3, 4, 'Gaziya', 'fruits', '98.8', 'Abdul', 'Abdul', 'Shaikh', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Akhil']
[1, 3, 4, 'fruits', '98.8', 'Abdul', 'Abdul', 'Shaikh', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Akhil']

In [66]:
my_list.remove('fruits')
print(my_list)

[1, 3, 4, '98.8', 'Abdul', 'Abdul', 'Shaikh', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Akhil']

In [67]:
my_list.remove('Mehwish')
print(my_list)

[1, 3, 4, '98.8', 'Abdul', 'Abdul', 'Shaikh', 'Fariha', 'Wife', 'Daughter', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Akhil']

In [68]:
del my_list[3]
print(my_list)

[1, 3, 4, 'Abdul', 'Abdul', 'Shaikh', 'Fariha', 'Wife', 'Daughter', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Akhil']

In [69]:
del my_list[1:3]
print(my_list)

[1, 'Abdul', 'Abdul', 'Shaikh', 'Fariha', 'Wife', 'Daughter', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Mehwish', 'Fariha', 'Wife', 'Daughter', 'Akhil']

In [70]:
del my_list #List is deleted using this keyword#

In [71]:
print(my_list)

NameError: name 'my_list' is not defined

In [72]:
L1=[1,2,3,4]
L2=[11,12,13,14]
L3=[21,22,23,24]
x= L1+L2+L3
print(x)

[1, 2, 3, 4, 11, 12, 13, 14, 21, 22, 23, 24]

In [80]:
x[::1]
print(x)

[1, 2, 3, 4, 11, 12, 13, 14, 21, 22, 23, 24]

In [83]:
x[::-1]
print(x)

[1, 2, 3, 4, 11, 12, 13, 14, 21, 22, 23, 24]

In [84]:
print(x)

[1, 2, 3, 4, 11, 12, 13, 14, 21, 22, 23, 24]

In [85]:
print(x)
print(x[::-1])

[1, 2, 3, 4, 11, 12, 13, 14, 21, 22, 23, 24]
[24, 23, 22, 21, 14, 13, 12, 11, 4, 3, 2, 1]

In [86]:
print(x)

[1, 2, 3, 4, 11, 12, 13, 14, 21, 22, 23, 24]

In [88]:
print(x)
y=x[::-1]
print(y)

[1, 2, 3, 4, 11, 12, 13, 14, 21, 22, 23, 24]
[24, 23, 22, 21, 14, 13, 12, 11, 4, 3, 2, 1]

In [89]:
print(y[1])

23

In [90]:
a=['a','b',3,4]
a.reverse()
print(a)

[4, 3, 'b', 'a']

In [91]:
b=[1,4,3,0,2,6]
b.sort()
print(b)

[0, 1, 2, 3, 4, 6]

In [93]:
#Mixed data type in the list cannot be sorted using the sort method.#
b.sort(reverse=True) #this will sort in descending order#
print(b)

[6, 4, 3, 2, 1, 0]

In [94]:
bool('')

False

In [95]:
bool()

False

In [96]:
bool(0.0)

False

In [97]:
bool(10)

True

In [104]:
x=[1,3,0,4]
print(all(x))

False

In [100]:
bool(0.0)

False

In [115]:
num=[0.0,0,0,0]
print(any(num))

False

In [112]:
num2= [0,False,None]
print(any(num2))

False

In [114]:
num3= [0,1,False,None]
print(any(num3))

True

In [123]:
#Tuples are immutable# -- means we cannot change after creating
#Tuples are used to store fixed values#
#Tuple is slightly faster when compared to Lists because of its immutable nature#
str1 =(1,2,3)
str1.count(5)

0

In [124]:
str1.index(2)

1

In [126]:
num3.clear()

In [127]:
print(num3)

[]

In [128]:
num3=[10,20,30]

In [129]:
print(num3)

[10, 20, 30]

In [131]:
set1= {1,2,3,3}
print(set1)

{1, 2, 3}

In [134]:
set2= {1,2,'A','B','C'}
print(set2)

{1, 2, 'A', 'C', 'B'}

In [136]:
#converting a list into a set using set function#
set2 = set{[1,2,3,5]}
print(set2)

SyntaxError: invalid syntax (1571909750.py, line 2)

In [137]:
#add method will add a single item to your set#
set2.clear

In [140]:
set2= {10,20,'A','B'}
print(set2)
set2.add(500) #500 will be added in a random order as there is not order in sets#
print(set2)

{10, 'A', 20, 'B'}
{'A', 10, 20, 500, 'B'}

In [141]:
print(set2)

{'A', 10, 20, 500, 'B'}

In [142]:
#update to add multiple items to the sets#
set2.update({'abdul','hameed','shaikh'})
print(set2)

{'A', 'abdul', 10, 'hameed', 'shaikh', 20, 500, 'B'}

In [143]:
set2.remove(500)

In [144]:
print(set2)

{'A', 'abdul', 10, 'hameed', 'shaikh', 20, 'B'}

In [148]:
set2.discard('B')
print(set2)

{'A', 'abdul', 10, 'hameed', 'shaikh', 20}

In [149]:
set2.discard('B')
print(set2)

{'A', 'abdul', 10, 'hameed', 'shaikh', 20}

In [150]:
set2.remove(500)

KeyError: 500

In [156]:
#pop method is used to delete random items in the Set#
#clear methos is used to clear the entire set#
#del methos is used to delete the Set#
set2.pop()
print(set2)

set()

In [157]:
set2 = {55,66,77,10,88}
print(set2)

{66, 55, 88, 10, 77}

In [158]:
set1.clear

In [159]:
set2.clear

In [160]:
set1 = {1,2,3,4,5}
set2 = {5,19,17,19}
set3 =set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 17, 19}

In [163]:
set1 = {1,2,3,4,5}
set2 = {5,19,17,19}
set11= {10,20,3,4}
set3 =set1.union(set2,set11)
print(set3)

{1, 2, 3, 4, 5, 10, 17, 19, 20}

In [164]:
set1 = {1,2,3,4,5}
set2 = {5,19,17,19}
set11= {10,20,3,4}
set3 =set1.intersection(set2,set11)
print(set3)

set()

In [165]:
print(set3)

set()

In [168]:
x1={1,2,3,4}
x2={4,5,7,8,1}
x3=x1.intersection(x2)
print(x3)

{1, 4}

In [171]:
x1={1,2,3,4}
x2={4,5,7,8,1}
x3=x1.difference(x2)
print(x3)

{2, 3}

In [172]:
x1={1,2,3,4}
x2={4,5,7,8,1}
x3=x2.difference(x1)
print(x3)

{8, 5, 7}

In [173]:
#Dictionaries are used to store Key/Value pair#
#Dictionaries are not index based, they cannot be accessed using indexes#
#Dictionaries cane be accessed using their Keys#
#Keys should be unique#

dict_1= {'Cust_ID': 10001,'Cust_Name':'Abdul','Cust_Age':34,'Item':'Laptop','Price': 100000}
print(dict_1)

{'Cust_ID': 10001, 'Cust_Name': 'Abdul', 'Cust_Age': 34, 'Item': 'Laptop', 'Price': 100000}

In [174]:
dict_1['Cust_ID']

10001

In [176]:
dict_1['Cust_Name']

'Abdul'

In [177]:
dict_1['Cust_Name']= 'Dilip'
print(dict_1['Cust_Name'])

Dilip

In [179]:
dict_1['Price']= 110000
print(dict_1['Price'])

110000

In [180]:
dict_2 ={'Cust_ID': 10001,'Cust_Name':'Abdul','Cust_Age':34,'Item':['Laptop','Mobile','Bag'],'Price': 100000}
print(dict_2)

{'Cust_ID': 10001, 'Cust_Name': 'Abdul', 'Cust_Age': 34, 'Item': ['Laptop', 'Mobile', 'Bag'], 'Price': 100000}

In [184]:
dict_2['Item'][0]

'Laptop'

In [185]:
dict_2['Item'][2]

'Bag'

In [186]:
dict_2['Item'][1]

'Mobile'

In [187]:
s1={}
print(s1) #this represents emplty dictionary, not empty set#

{}

In [189]:
dict_2.update({'State':'Karnataka','Country':'India'})
print(dict_2)

{'Cust_ID': 10001, 'Cust_Name': 'Abdul', 'Cust_Age': 34, 'Item': ['Laptop', 'Mobile', 'Bag'], 'Price': 100000, 'State': 'Karnataka', 'Country': 'India'}

In [190]:
#pop method is used to remove the items from dictionary#
dict_2.pop('State')
dict_2

{'Cust_ID': 10001,
 'Cust_Name': 'Abdul',
 'Cust_Age': 34,
 'Item': ['Laptop', 'Mobile', 'Bag'],
 'Price': 100000,
 'Country': 'India'}

In [191]:
del dict_2['Price']
dict_2

{'Cust_ID': 10001,
 'Cust_Name': 'Abdul',
 'Cust_Age': 34,
 'Item': ['Laptop', 'Mobile', 'Bag'],
 'Country': 'India'}

In [192]:
dict_2.keys() #If u want to view all keys#

dict_keys(['Cust_ID', 'Cust_Name', 'Cust_Age', 'Item', 'Country'])

In [193]:
dict_2.values() #If you want to view all values#

dict_values([10001, 'Abdul', 34, ['Laptop', 'Mobile', 'Bag'], 'India'])

In [194]:
dict_2.items() #if you want to view both key and values #

dict_items([('Cust_ID', 10001), ('Cust_Name', 'Abdul'), ('Cust_Age', 34), ('Item', ['Laptop', 'Mobile', 'Bag']), ('Country', 'India')])

In [195]:
dict_2.clear()

In [196]:
print(dict_2)

{}

In [197]:
#clear method to clear the dictionary and del method to delete the dictionary#

Loops

In [199]:
#for and while loops#
print(range(1,10))

range(1, 10)

In [201]:
for rec in range(1,10):
    print(rec)

1
2
3
4
5
6
7
8
9

In [203]:
for rec in range(11):
    print(rec)

0
1
2
3
4
5
6
7
8
9
10

In [204]:
for rec in range(10,20):
    print(rec)

10
11
12
13
14
15
16
17
18
19

In [217]:
item = ['fruits','apple','banana','Milk']
for rec in item:
    print(rec)

fruits
apple
banana
Milk

In [218]:
country1=['India','Australias','China','US','Japan']
for rec in country1:
    print(rec)

India
Australias
China
US
Japan

In [222]:
country2={'Japan','US','Pak','India'}
for rec in country2:
    print(rec)

Japan
Pak
US
India

In [225]:
#Control statement  -- Break and continue#
#Break --will exit the loop immediately #
#Continue --#
for rec in country1:
    if rec == 'US':
        break
    print(rec)

India
Australias
China

In [226]:
for rec in country1:
    if rec=='US':
        continue
    print(rec)

India
Australias
China
Japan

In [231]:
for rec in country1:
    if rec == 'China' or rec=='US':
        continue
    print(rec)

India
Australias
Japan

In [236]:
list_num1 = [2,3,4,5]
for rec in list_num1:
    print(rec**2)

4
9
16
25

In [ ]:
list_num2= [10,20,30,40]
for rec in list_num2:
    list_x = rec**2
    print(list_x)

In [ ]:
#nested for loop#
items = ['Apple','Orange','Mango']
price=[60,70,80]
for i in items:
    for p in price:
        if items.index(i) == price.index(p):
            print(i,p)

In [1]:
#nested for loop#
items = ['Apple','Orange','Mango']
price=[60,70,80]
for i in items:
    print(

SyntaxError: incomplete input (1295736041.py, line 5)

In [2]:
print('hello')

hello

In [3]:
n=1
n+=1
print(n)

2

In [9]:
n=10
while n//2==0:
    print

NameError: name 'i' is not defined

In [2]:
n=2
while n<=10:
    print(n)
    n+=2

2
4
6
8
10

Functions

In [ ]:
#Functions are used to specify particular task ..#